// ------------------------------------------------------------------
// GRID
// ------------------------------------------------------------------ 

@import "_grid.sass"

// The following generates the default grids provided by the css version of 960.gs
.container_12
	+grid-system(12)
	position: relative
	+clearfix
	overflow: visible

.container_16
	+grid-system(16)

// But most compass users prefer to construct semantic layouts like so (two column layout with header and footer):

$ninesixty-columns: 24

.two-column
	+grid-container
	#header, #footer
		+grid(24)
	#sidebar
		+grid(8)
	#main-content
		+grid(16)

// The following generates the default grids provided by the css version of 960.gs
.container_12
	+grid-system(12)

.container_16
	+grid-system(16)

// But most compass users prefer to construct semantic layouts like so (two column layout with header and footer):

$ninesixty-columns: 12



@mixin clearfix
	*zoom: 1
	&:after, &:before
		display: table
		line-height: 0
		content: ""
		visibility: hidden
	&:after
		clear: both


@mixin container100
	display: block
	width: 100%
	+clearfix

section
	+container100
// ------------------------------------------------------------------
// colors
// ------------------------------------------------------------------

$branco: #fff
$preto: #2c2c2c
$black: #000

$azul: #00a4e0
$azulEscuro: #003e54
$amarelo: #fff726
$roxo: #a626ff
$verdeLimao: #8cff26
$magenta: #ff2687
$azulLight: #26d9ff
$laranja: #ff7826
$vermelho: #e74c3c
$vermelhoEscuro: #9a2b20
$verde: #4ed726
$marrom: #402d21

$cinzaClaro: #f2f2f2
$cinza: #b1b3b6
$cinzaEscuro: #414042

$corBotao: $amarelo
$textoBotao: $cinzaEscuro

// ------------------------------------------------------------------
// Scroll css3
// ------------------------------------------------------------------ 

$corScroll: $amarelo
$corFundoScroll: $cinza

::-webkit-scrollbar 
	width: 10px
	height: 0px
	margin: 0px 0px 0px 0px


::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment 
	display: block
	height: 0px


::-webkit-scrollbar-button:vertical:increment 
	background-color: none


::-webkit-scrollbar-track-piece 
	background-color: $corFundoScroll


::-webkit-scrollbar-thumb:vertical 
	height: 50px
	background-color: $corScroll
	cursor: pointer


::-webkit-scrollbar-thumb:horizontal 
	width: 50px
	background-color: $corScroll
	cursor: pointer


// ------------------------------------------------------------------
// Tipography
// ------------------------------------------------------------------


// icon font Guto Framework
@import "../fonts/GF-Icons/style.css"

@mixin font($weight:400)
	font-family: 'Lato', 'helvetica', 'Trebuchet MS', 'Arial', sans-serif
	font-weight: $weight
	-webkit-font-smoothing: antialiased
	b
		font-weight: bold
		font-weight: 900

@mixin fontTitle
	+font(200)
	b
		font-weight: bold
		+font(900)

@mixin fontIcon
	font-family: 'GF-Icons'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased


// ------------------------------------------------------------------
// Defaults do Compass
// ------------------------------------------------------------------
$default-transition-property : all
$default-transition-duration : 0.2s
$default-transition-function : false
$default-transition-delay    : false

$default-text-shadow-color: #fff
$default-text-shadow-h-offset: 1px
$default-text-shadow-v-offset: 1px
$default-text-shadow-blur: 1px

$default-box-shadow-color: rgba(0,0,0,0.3)
$default-box-shadow-h-offset: 0
$default-box-shadow-v-offset: 2px
$default-box-shadow-blur: 4px
$default-box-shadow-spread: 0
$default-box-shadow-inset: false




// ------------------------------------------------------------------
// Styles Base
// ------------------------------------------------------------------

body
	font-size: 12px
	color: $cinzaEscuro
	line-height: 150%
	+font

a
	text-decoration: none
	color: $cinzaEscuro
	+transition
	+font
	& *

	&:hover
		text-decoration: underline
		color: #000

p
	line-height: 150%

h1, h2, h3, h4, h5, h6
	+fontTitle
	color: $preto
	line-height: 100%
	text-transform: uppercase

h1
	font-size: 45px

h2
	font-size: 30px

h3
	font-size: 26px

h4
	font-size: 22px

h5
	font-size: 20px

h6
	font-size: 18px

section
	display: block
	+clearfix

	&.content
		margin-top: 80px

		header
			+grid-container
			padding-bottom: 30px

			h1, h2, h3, h4, h5, h6
				margin-bottom: 0


