@media (max-width: 1250px) {
  /* line 8, ../sass/media-queries.scss */
  #main .page-header .minitiles {
    display: none;
  }
}
@media (max-width: 1200px) {
  /* line 15, ../sass/media-queries.scss */
  .stats-overview > li {
    padding: 5px 10px !important;
  }

  /* line 22, ../sass/media-queries.scss */
  .form-horizontal.form-column [class*="span"] {
    border-top: 1px solid #ddd;
    border-left: 0 !important;
    width: 100% !important;
  }
  /* line 27, ../sass/media-queries.scss */
  .form-horizontal.form-column [class*="span"]:first-child {
    border-top: 0;
  }
  /* line 32, ../sass/media-queries.scss */
  .form-horizontal.form-column .form-actions {
    border-top: 0 !important;
  }
}
@media (max-width: 1100px) {
  /* line 41, ../sass/media-queries.scss */
  .stats-overview > li {
    padding: 5px 10px !important;
    border-right: 1px dotted #ddd !important;
  }
  /* line 45, ../sass/media-queries.scss */
  .stats-overview > li .name {
    font-size: 11px !important;
  }
  /* line 49, ../sass/media-queries.scss */
  .stats-overview > li .value {
    font-size: 13px !important;
  }
}
@media (max-width: 1200px) {
  /* line 57, ../sass/media-queries.scss */
  .icon-nav {
    display: none!important;
  }
}
@media (max-width: 1024px) {
  /* line 63, ../sass/media-queries.scss */
  #main .page-header .stats {
    display: none;
  }

  /* line 69, ../sass/media-queries.scss */
  .search-form > .search-pane > input {
    width: 135px !important;
  }

  /* line 75, ../sass/media-queries.scss */
  .hidden-1024 {
    display: none !important;
  }

  /* line 81, ../sass/media-queries.scss */
  .form-wizard .single-step .title {
    padding: 1px 5px !important;
  }
  /* line 85, ../sass/media-queries.scss */
  .form-wizard .single-step .description {
    font-size: 12px !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 976px) {
  /* line 97, ../sass/media-queries.scss */
  #navigation .user .dropdown > a {
    padding: 7px 6px 6px 6px !important;
  }
  /* line 104, ../sass/media-queries.scss */
  #navigation .main-nav > li > a {
    font-size: 12px;
    padding: 10px 8px !important;
  }
}
@media (max-width: 840px) {
  /* line 114, ../sass/media-queries.scss */
  .mobile-sidebar-toggle {
    display: block !important;
  }

  /* line 118, ../sass/media-queries.scss */
  #navigation #brand {
    padding-right: 0 !important;
  }
  /* line 121, ../sass/media-queries.scss */
  #navigation .main-nav {
    display: none;
  }
  /* line 124, ../sass/media-queries.scss */
  #navigation .toggle-nav {
    display: none !important;
  }
}
@media (max-width: 767px) {
  /* line 131, ../sass/media-queries.scss */
  body {
    padding: 0 !important;
  }

  /* line 137, ../sass/media-queries.scss */
  .pricing-tables .pricing.highlighted {
    margin-top: 30px !important;
  }

  /* line 143, ../sass/media-queries.scss */
  .hidden-768 {
    display: none !important;
  }

  /* line 147, ../sass/media-queries.scss */
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin: 0 !important;
  }

  /* line 151, ../sass/media-queries.scss */
  .container-fluid, .container {
    padding: 0 20px;
  }

  /* line 157, ../sass/media-queries.scss */
  .form-wizard.wizard-vertical .wizard-steps {
    width: 160px !important;
  }
  /* line 161, ../sass/media-queries.scss */
  .form-wizard.wizard-vertical .form-content {
    margin-left: 160px !important;
  }
  /* line 165, ../sass/media-queries.scss */
  .form-wizard.wizard-vertical .form-actions {
    padding-left: 180px !important;
  }
}
@media (max-width: 480px) {
  /* line 174, ../sass/media-queries.scss */
  .table-mail .table-fixed-medium {
    width: 120px !important;
  }

  /* line 181, ../sass/media-queries.scss */
  .form-wizard.wizard-vertical .wizard-steps {
    width: 40px !important;
  }
  /* line 185, ../sass/media-queries.scss */
  .form-wizard.wizard-vertical .form-content {
    margin-left: 40px !important;
  }
  /* line 189, ../sass/media-queries.scss */
  .form-wizard.wizard-vertical .form-actions {
    padding-left: 60px !important;
  }
  /* line 194, ../sass/media-queries.scss */
  .form-wizard.wizard-vertical .wizard-steps .description {
    display: none !important;
  }

  /* line 204, ../sass/media-queries.scss */
  .tabs.tabs-inline.tabs-top > li > a {
    padding: 8px 10px !important;
  }
  /* line 210, ../sass/media-queries.scss */
  .tabs.tabs-inline.tabs-left {
    position: static !important;
    background: none!important;
    width: auto !important;
  }
  /* line 215, ../sass/media-queries.scss */
  .tabs.tabs-inline.tabs-left > li {
    float: left;
    margin-right: 1px;
  }
  /* line 219, ../sass/media-queries.scss */
  .tabs.tabs-inline.tabs-left > li > a {
    border-top: 0 !important;
    border-bottom: 0 !important;
    padding: 8px 10px !important;
  }

  /* line 230, ../sass/media-queries.scss */
  .tab-content.tab-content-inline {
    margin-left: 0!important;
    border-left: 0!important;
  }

  /* line 236, ../sass/media-queries.scss */
  .hidden-480 {
    display: none !important;
  }

  /* line 240, ../sass/media-queries.scss */
  .visible-480 {
    display: inline-block !important;
  }

  /* line 245, ../sass/media-queries.scss */
  .form-horizontal .controls {
    margin-left: 0!important;
  }

  /* line 252, ../sass/media-queries.scss */
  .calendar .fc-button.fc-button-next .fc-button-content, .calendar .fc-button.fc-button-prev .fc-button-content {
    padding: 0 4px !important;
    margin-top: 3px;
  }
  /* line 258, ../sass/media-queries.scss */
  .calendar .fc-button .fc-button-content {
    font-size: 12px !important;
    margin-right: 2px !important;
  }
  /* line 264, ../sass/media-queries.scss */
  .calendar .fc-header .fc-header-left {
    width: 0 !important;
    display: none;
  }
  /* line 269, ../sass/media-queries.scss */
  .calendar .fc-header .fc-header-right .fc-button {
    position: static !important;
    top: auto !important;
  }
  /* line 276, ../sass/media-queries.scss */
  .calendar .fc-header .fc-header-title h2 {
    font-size: 14px !important;
  }

  /* line 284, ../sass/media-queries.scss */
  body.login .wrapper {
    width: 300px;
    margin: 20px -150px !important;
    top: 0;
  }

  /* line 291, ../sass/media-queries.scss */
  .user-list {
    display: none !important;
  }

  /* line 295, ../sass/media-queries.scss */
  .messages.withlist {
    margin-right: 0 !important;
  }
}
@media (max-width: 350px) {
  /* line 301, ../sass/media-queries.scss */
  .hidden-350 {
    display: none !important;
  }

  /* line 305, ../sass/media-queries.scss */
  .calendar .fc-header-right {
    display: none !important;
  }

  /* line 313, ../sass/media-queries.scss */
  #main .box .box-title h3 {
    font-size: 16px !important;
  }
  /* line 318, ../sass/media-queries.scss */
  #main .box .box-title .actions .btn i {
    font-size: 12px !important;
  }

  /* line 328, ../sass/media-queries.scss */
  .table .table-fixed-medium {
    width: 100px !important;
  }
}
